---
import Head from "../components/Head.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import ArticleListReact from "../components/ArticleListReact";
import '../styles/tailwind.css';

const articles = await Astro.glob("../pages/article/*.md");
---

<Head title="記事一覧" />
<Navigation />
<article>
  <h1 class="font-semibold">記事一覧</h1>
  <ArticleListReact articles={articles} client:load />
</article>
<Footer />
