---
import type { MarkdownInstance } from "astro";

import Head from "../components/Head.astro";
import Navigation from "../components/Navigation.astro";
import ArticleList from "../components/ArticleList";
import Footer from "../components/Footer.astro";
import "/src/styles/tailwind.css";

const articleFiles = import.meta.glob("../pages/article/*.md", { eager: true });
const articles = Object.values(articleFiles) as MarkdownInstance<
  Record<string, any>
>[];
const sortedarticles = articles.sort(
  (a, b) =>
    new Date(b.frontmatter.date).getTime() -
    new Date(a.frontmatter.date).getTime(),
);
---

<Head title="ゆかり" />
<Navigation />
<article>
  <h1>新着記事</h1>
  <ArticleList articles={sortedarticles.slice(0, 3)} client:load />
</article>
<Footer />
