---
import Head from "../components/Head.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import "/src/styles/global.css";
---

<Head title="README"/>
<Navigation />
<article>
  <h1>説明</h1>
  <p>私がmarkdownでブログを書きたいという願いを叶えるために作られた場所。</p>
  <h1>連絡先</h1>
  <ul>
    <li>
      GitHub: <a href="https://github.com/lev635">lev635</a>
    </li>
    <li>
      Twitter: <a href="https://x.com/1ev_3">1ev_3</a>
    </li>
  </ul>
</article>
<Footer />
