---
import Head from "../components/Head.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import "/src/styles/global.css";
---

<Head title="README"/>
<Navigation />
<article>
  <h1>経緯</h1>
  <p></p>
  <h1>連絡先</h1>
  <ul>
    <li>
      GitHub: <a href="https://github.com/lev635">lev635</a>
    </li>
  </ul>
</article>
<Footer />
