---
export interface Props {
  url: string;
  title: string;
  date: string;
  lastModified: string;
}
const { url, title, date, lastModified } = Astro.props;
---

<div class="frame">
  <div>
    <a class="title-article" href={url}>{title}</a>
  </div>
  <div class="date">
    <span>投稿日: {date}</span>
    <span>最終更新: {lastModified}</span>
  </div>
</div>

<style>
  div.frame {
    display: flex;
    flex-direction: column;
    border: 2px solid #333333;
    border-radius: 5px;
    padding: 1rem;
  }
  div.date {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  a.title-article {
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
  }
</style>
